[submodule "rubymotion-tabbar"]
	path = rubymotion-tabbar
	url = https://github.com/MarkVillacampa/rubymotion-tabbar.git
  ignore = dirty
[submodule "RestKitTest"]
	path = RestKitTest
	url = https://github.com/rounders/RestKitTest.git
  ignore = dirty
[submodule "spry"]
	path = spry
	url = https://github.com/mattgreen/spry.git
  ignore = dirty
[submodule "BubbleWrap"]
	path = BubbleWrap
	url = https://github.com/mattetti/BubbleWrap.git
  ignore = dirty
[submodule "motion-layouts"]
	path = motion-layouts
	url = https://github.com/malkomalko/motion-layouts.git
  ignore = dirty
[submodule "RubyMotion-UserSettings"]
	path = RubyMotion-UserSettings
	url = https://github.com/AaronH/RubyMotion-UserSettings.git
  ignore = dirty
[submodule "itrakt_motion"]
	path = itrakt_motion
	url = https://github.com/matsimitsu/itrakt_motion.git
  ignore = dirty
[submodule "rubymotion-cookbook"]
	path = rubymotion-cookbook
	url = https://github.com/railsfactory/rubymotion-cookbook
  ignore = dirty
[submodule "RubyMotionSamples"]
	path = RubyMotionSamples
	url = https://github.com/HipByte/RubyMotionSamples.git
[submodule "WordSearcher"]
	path = WordSearcher
	url = https://github.com/dalacv/WordSearcher.git
[submodule "nitron-examples"]
	path = nitron-examples
	url = https://github.com/mattgreen/nitron-examples.git
[submodule "birdemia"]
	path = birdemia
	url = https://github.com/alexeypro/birdemia.git
[submodule "rubymotion_app_template"]
	path = rubymotion_app_template
	url = https://github.com/andyw8/rubymotion_app_template.git
[submodule "RubyMotion-RestKit-RKObjectMapping"]
	path = RubyMotion-RestKit-RKObjectMapping
	url = https://github.com/pachun/RubyMotion-RestKit-RKObjectMapping.git
[submodule "Rest-In-Motion"]
	path = Rest-In-Motion
	url = git://github.com/pachun/Rest-In-Motion.git
[submodule "remote_model"]
	path = remote_model
	url = git://github.com/clayallsopp/remote_model.git
[submodule "RubyMotion-UrbanAirship"]
	path = RubyMotion-UrbanAirship
	url = git://github.com/damassi/RubyMotion-UrbanAirship.git
